<div>
    <p-table [value]="transactions" 
    [paginator]="true"
    [rows]="5"
    [first]="currentSkipCount"
    [lazy]="true"
    (onLazyLoad) ="loadTransactions($event)"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    paginatorDropdownAppendTo="body"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="rowsPerPageOptions"    
    [loading]="loading"
    [tableStyle]="{'font-size': '0.8em' }"
>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" style="width:5%">ID<p-sortIcon field="id"/></th>
            <th pSortableColumn="date" style="width:7%">Date<p-sortIcon field="date"/></th>
            <th pSortableColumn="time" style="width:7%">Time<p-sortIcon field="time"/></th>
            <th pSortableColumn="quantity"style="width:7%">Quantity<p-sortIcon field="quantity"/></th>
            <th pSortableColumn="storeId" style="width:7%">StoreId<p-sortIcon field="storeId"/></th>
            <th pSortableColumn="storeLocation" style="width:9%">StoreLocation<p-sortIcon field="storeLocation"/></th>
            <th pSortableColumn="productId" style="width:7%">ProductId<p-sortIcon field="productId"/></th>
            <th pSortableColumn="unitPrice" style="width:7%">UnitPrice<p-sortIcon field="unitPrice"/></th>
            <th pSortableColumn="productCategory" style="width:10%">ProductCategory<p-sortIcon field="productCategory"/></th>
            <th pSortableColumn="productType" style="width:9%">ProductType<p-sortIcon field="productType"/></th>
            <th pSortableColumn="productDetail"style="width:9%">ProductDetail<p-sortIcon field="productDetail"/></th>
            <th pSortableColumn="month" style="width:6%">Month<p-sortIcon field="month"/></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
          <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.time }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.storeId }}</td>
            <td>{{ transaction.storeLocation }}</td>
            <td>{{ transaction.productId }}</td>
            <td>{{ transaction.unitPrice }}</td>
            <td>{{ transaction.productCategory }}</td>
            <td>{{ transaction.productType }}</td>
            <td>{{ transaction.productDetail }}</td>
            <td>{{ transaction.month }}</td>
          </tr>
        </ng-template>
    </p-table>
</div>